* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto; 
  }
  
  .categorias,
  .marcas {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: greenyellow;
  }
  
  input[type="checkbox"] {
    margin-right: 3px;
    cursor: pointer;
  }
  
  .botao-filtrar {
    padding: 8px 16px; 
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    margin-right: 10px; 
}

.botao-limpar {
    padding: 8px 16px; 
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px; 
    margin-left: 10px; 
}
  
  .botao-filtrar:hover,
  .botao-limpar:hover {
    background-color: #58c9e8;
  }
  