.container {
    width: 100%;
    background-color: black;
    color: greenyellow;
    padding: 19px;
    text-align: justify;
    box-sizing: border-box;
    min-height: calc(100vh - 70px);    
    display: flex;
    flex-direction: column;
    justify-content: top;
}
