/* Estilos existentes... */

.commentForm {
    background-color: #1f1f1f; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    color: #f5f5f5; 
}

.commentForm h2 {
    margin-bottom: 20px;
    font-size: 24px; 
    color: #f5f5f5; 
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #2a2a2a; 
    color: #f5f5f5; 
}

.formGroup textarea {
    resize: vertical;
}

.formGroup input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #f5f5f5; 
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


.steps {
    background-color: #1f1f1f; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    color: #f5f5f5; 
}

.steps h2 {
    font-size: 24px; 
    color: #f5f5f5;
    margin-bottom: 10px;
}

.steps p {
    font-size: 18px; 
    color: #dcdcdc;
    line-height: 1.6; /
}

.notice {
    font-weight: bold;
    color: #ff6f61; /* Destaque em tom de laranja avermelhado */
}

/* Nova classe para o texto com fonte maior e letras brancas */
.introText {
    color: #f5f5f5; /* Texto branco */
    font-size: 20px; /* Fonte maior */
    line-height: 1.6; /* Melhorar a legibilidade */
    margin-bottom: 20px; /* Espaçamento inferior */
}
